<div class="copy">
  This is all the feedback that has been offered for the tutorial <%= @tutorial.name %>.
</div>


<% @tutorial.feedbacks.each do |feedback| %>
  <div class="copy">
    <%= feedback.content %>
  </div>
<% end %>
